:root{
    --color-basic : #757575;
    --color-accent: #2196F3;
    --color-title: #212121;
    --color-title-white: #ffffff;
    --color-footer-address:rgba(255, 255, 255, 0.6);
    --color-nav-portfolio:  #F5F4FA;
    --color-footer-background:  #2F303A;
}
/* basic*/
ul{
    list-style: none;
}
body{
    color: var(--color-basic);
    
    font-family: Roboto, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1,71;
    letter-spacing: 0.03em;
}

.title{
    color: var(--color-title);

    font-weight: 700;
    font-size: 36px;
    line-height: 1,16;
    text-align: center;
}
    
.title-white{
    color: var(--color-title-white);
}
.header-title h3{
color: var(--color-title);
    font-size: 14px;
    line-height: 1,14;
}
/* logo */
.logo{
    font-family: Raleway, Helvetica, sans-serif;
    text-decoration: none;
    font-weight: 700;
    font-size: 26px;
    line-height: 1,19;
    letter-spacing: 0.03em;
}
.logo-web{
    color: #2196F3;
}
.logo-studio {
    color: #000000;
}

/* nav */
.nav a{
    color: var(--color-title);

    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1,14;
    letter-spacing: 0.02em;
}
.nav a:visited{
    color: var(--color-title);
}
.nav a:hover,
.nav a:focus{
    color: var(--color-accent);
}

/* nav address  */

.nav-address a{
    color: var(--color-basic );
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1,14;
    letter-spacing: 0.02em;
}
.nav-address a:visited{
    color: var(--color-basic );
}    
.nav-address a:hover,
.nav-address a:focus{
    color: var(--color-accent);
}

/* webstudio section 1*/

.header-img{
/* position: absolute; */
width: 1600px;
height: 600px;
}
.clear{
    color: rgba(0, 0, 0, 0.8);
}
.header{
    font-weight: 900;
    font-size: 44px;
    line-height: 1,36;
}
.header-style{
    color: var(--color-title-white);  
    background-color: gray; /* temporal  */
    font-weight: 900;
    font-size: 44px;
    line-height: 1,36;
}
.button{
    color: #ffffff;
    background-color: var(--color-accent);
    font-weight: 700;
    font-size: 16px;
    line-height: 1,87;
    text-decoration: none;
}

}
.title p{
    color: var(--color-basic );
    font-size: 14px;
    line-height: 1,71;
}

.title-white p{
    background-color: gray;/* temporal  */
    font-size: 14px;
    line-height: 1,14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

/* webstudio section 2 */

.link-style a{
    text-decoration: none;
}

/* webstudio section 3 */

.title-team b{
    color: var(--color-title);
    
    font-weight: 500;
    font-size: 16px;
    line-height: 1,18;
}  
.title-team p{
    color: var(--color-basic);
    
    font-size: 16px;
    line-height: 1,18;
}   

/* footer */

.footer{
    background-color: var(--color-footer-background);
}
.footer .logo-studio{
    color: var(--color-title-white);
}
.footer-address a{
    color: var(--color-footer-address);
    
    text-decoration-style: normal;
    font-style: normal;
    font-weight: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1,71;

}
.footer-map.title-white{
    color: var(--color-title-white);

    font-style: normal
}
.footer-map{
    font-size: 14px;
    line-height: 1,71;
    letter-spacing: 0.03em;
    text-decoration: none;
    text-decoration-style: unset;
}
.footer-title-link{
    font-weight: 700;
    font-size: 14px;
    line-height: 1,14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.developed{
    color:var(--color-footer-address);

    font-family: Roboto;
    font-size: 12px;
    line-height: 2;
    text-align: center;
    letter-spacing: 0.03em;
}

/* portfolio */

.nav-portfolio a{
    color: var(--color-title);
    background-color: var(--color-nav-portfolio);

    text-decoration: none;
    font-size: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1,62;
}
.nav-portfolio a:hover{
    color: var(--color-title-white);
    background-color: var(--color-accent);
}
.basic-portfolio a{
    text-decoration: none;
    font-style: normal;
}
.basic-portfolio b{
    color: var(--color-title);

    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.basic-portfolio p{
    color: var(--color-basic);

    font-size: 16px;
    line-height: 1,71;
    letter-spacing: 0.03em;
}
.basic-portfolio .text-partfolio{
    background-color: var(--color-basic);/* temporal  */
    color: var(--color-title-white);

    font-size: 18px;
    line-height: 1.56;
}